<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="mb-3">
    <label for="login" class="form-label">Login</label>
    <input
      type="text"
      class="form-control"
      id="login"
      placeholder="Nome do Usuario"
      [(ngModel)]="usuario"
      name="usuario"
      #campoUsuario="ngModel"
      required
    />
    <!-- #campoUsuario="ngModel" cria uma variavel de referencia dentro do template -->

    <app-mensagem
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
      mensagem="Usuário obrigatório"
    ></app-mensagem>
  </div>

  <div class="mb-3">
    <label for="senha" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="senha"
      placeholder="Senha"
      [(ngModel)]="senha"
      name="senha"
      #campoSenha="ngModel"
      required
    />

    <app-mensagem
      *ngIf="campoSenha.invalid && campoSenha.touched"
      mensagem="Senha obrigatória"
    ></app-mensagem>
  </div>

  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
  </div>

  <p>Não possui um login? <a [routerLink]="['novousuario']">Registre-se</a></p>
</form>
