<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form
  class="form mt-4"
  [formGroup]="novoUsuarioForm"
  (submit)="cadastrar()"
  #cadastroForm="ngForm"
>
  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input
      formControlName="email"
      id="email"
      class="form-control"
      type="text"
      placeholder="e-mail"
      name="email"
      required
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.required &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.email &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail inválido"
    ></app-mensagem>
  </div>

  <div class="mb-3">
    <label for="name" class="form-label">Nome Completo</label>
    <input
      formControlName="fullName"
      id="name"
      type="text"
      class="form-control"
      placeholder="Nome Completo"
      name="nome"
      required
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('fullName')?.errors?.required &&
        novoUsuarioForm.get('fullName')?.touched
      "
      mensagem="Nome incorreto"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('fullName')?.errors &&
        novoUsuarioForm.get('fullName')?.touched
      "
      mensagem="Nome incorreto"
    ></app-mensagem>
  </div>

  <div class="mb-3">
    <label for="user" class="form-label">Nome de Usuário</label>
    <input
      formControlName="userName"
      id="user"
      type="text"
      class="form-control"
      placeholder="Usuário"
      name="usuario"
      required
    />
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Senha</label>
    <input
      formControlName="password"
      id="password"
      type="password"
      class="form-control"
      placeholder="Senha"
      name="senha"
      required
    />
  </div>

  <div class="d-grid gap-2">
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="cadastroForm.invalid"
    >
      Cadastro
    </button>
  </div>

  <p>Já está cadastrado? <a [routerLink]="['']">Login</a></p>
</form>

<!-- <h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="form mt-4" (ngSubmit)="cadastrar()" #cadastroForm="ngForm">
  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input
      id="email"
      class="form-control"
      type="text"
      placeholder="e-mail"
      [(ngModel)]="email"
      name="email"
      #campoEmail="ngModel"
      required
    />
    <app-mensagem
      mensagem="Email obrigatório"
      *ngIf="campoEmail.invalid && campoEmail.touched"
    ></app-mensagem>
  </div>

  <div class="mb-3">
    <label for="name" class="form-label">Nome Completo</label>
    <input
      id="name"
      type="text"
      class="form-control"
      placeholder="Nome Completo"
      [(ngModel)]="nome"
      name="nome"
      #campoNome="ngModel"
      required
    />
    <app-mensagem
      mensagem="Nome obrigatório"
      *ngIf="campoNome.invalid && campoNome.touched"
    ></app-mensagem>
  </div>

  <div class="mb-3">
    <label for="user" class="form-label">Nome de Usuário</label>
    <input
      id="user"
      type="text"
      class="form-control"
      placeholder="Usuário"
      [(ngModel)]="usuario"
      name="usuario"
      #campoUsuario="ngModel"
      required
    />
    <app-mensagem
      mensagem="Usuario obrigatório"
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
    ></app-mensagem>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Senha</label>
    <input
      id="password"
      type="password"
      class="form-control"
      placeholder="Senha"
      [(ngModel)]="senha"
      name="senha"
      #campoSenha="ngModel"
      required
    />
    <app-mensagem
      mensagem="Senha obrigatório"
      *ngIf="campoSenha.invalid && campoSenha.touched"
    ></app-mensagem>
  </div>

  <div class="d-grid gap-2">
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="cadastroForm.invalid"
    >
      Cadastro
    </button>
  </div>

  <p>Já está cadastrado? <a [routerLink]="['']">Login</a></p>
</form> -->
